.exemple {
	width: 80%;
	margin-left: 10%;
	border : 2px solid grey;
	margin-top: 10px;
	padding: 5px;
}
.exemple .titre {
	border-bottom: 3px solid grey;
	margin-bottom: 10px;
}
.exemple .titre h3 {
	margin-left: 10%;
}
.exemple .result {
	margin: 15px;
}

.exemple .code {
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: 2px solid black;
	padding-top: 10px;
}
.partie {
	margin: 15px;
	padding-left: 2%;
	border-bottom: 8px solid lightgrey;
}
.test {
	border: 2px solid black;
}