p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
 }

u {
  text-decoration: underline; }

mark {
  background-color: #F2FF00; }

del {
  font-style: italic;
  text-decoration: line-through; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  cursor: help; }

blockquote::before {
  content: "\"";
  margin: 3px;
  border-left: 3px solid grey; }

code {
  display: inline-block;
  color: red;
  background-color: lightgrey;
  padding: 7px;
  margin: 5px;
  box-shadow: 1px 1px 1px black; }

kbd {
  display: inline-block;
  padding: 5px;
  color: white;
  background-color: #363535;
  border-radius: 3px;
  margin: 5px; }

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer; }

pre {

  display: block;
  margin-left: 3%;
  width: 88%;
  white-space: pre;
  padding: 12px;
  font-size: 1.1rem;
  color: #363636;
  background-color: lightgrey;
  border-radius : 3px;
  overflow: scroll;
  box-shadow: 3px 3px 3px black; }




.align-gauche {
  text-align: left; }

.align-droite {
  text-align: right; }

.align-centre {
  text-align: center; }

.align-justifie {
  text-align: justify; }

.to-maj {
  text-transform: uppercase; }

.to-min {
  text-transform: lowercase; }

table {
  display: inline-block;
  margin: 1rem 1rem 1rem 1rem;
  border: solid 2px black; 

  &.bord_com > tbody > tr > td {
    border: 2px solid black; }

  &.active_surv > tbody > tr:hover > td {
    color: white;
    background-color: #A6A4A4; }

  &.alternate > tbody > tr:nth-child(2n) > td {
    background-color: #EDEDED; }

  & > tbody > tr > th {
    padding: 10px;
    font-weight: bold;
    background-color: #BABABA;
    border-bottom: 3px solid black; }

  & > tbody > tr {
    border-bottom: 0.1px solid black; }

  & > tbody > tr > td {
    background-color: #DBDBDB;
    border-bottom: 0.1px solid black;
    padding: 5px;
    text-align: center; }

  & > tbody > tr {
    background-color: #D1CFCF; }
}





h1 {
  font-size: 2.7rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.1rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial Bold,Gadget,sans-serif; }

/* rem pour même comportement exact */
h1 > small, h1.sub {
  font-size: 2.4rem;
  color: $col_sub ; }

h2 > small, h2.sub {
  font-size: 2.1rem;
  color: $col_sub ; }

h3 > small, h3.sub {
  font-size: 1.8rem;
  color: $col_sub ; }

h4 > small, h4.sub {
  font-size: 1.5rem;
  color: $col_sub ; }

h5 > small, h5.sub {
  font-size: 1.2rem;
  color: $col_sub ; }

h6 > small, h6.sub {
  font-size: 1rem;
  color: $col_sub ; }
