
.btn {
  background-color: #D4D4D4;
  text-align: center;
  border-radius: 11px;
  font-family: Arial;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 5px;
  border: 1px grey solid; 
  cursor: pointer;
  border: solid black 1px;
   &:hover {
      background: darken(lightgrey, 20%);
  }

  &:active {
    opacity: $opac_active;
        /*-moz-transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
    -o-transition: opacity 0.7s; */
  }
  &.fancy {
  background: #24a5fc;
  //defaut
  background-image: linear-gradient(to bottom, white, black);
  border-radius: 15px;
  text-shadow: 0px 0px 3px black;
  box-shadow: 0px 0px 12px #302f30;
  font-family: Courier New;
  color: black;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  border: solid grey 4px;
  text-decoration: none;
    &:hover {
      border: solid black 4px;
  }
  }


  &.btn-red {
    background-color: red; 
    color : white;
  &:hover {
    background-color: $red_fonc; }
  &.fancy {
  background-image: linear-gradient(to bottom, white, red);
  color : black;
  }

  }
  
  &.btn-blue {
    background-color: deepskyblue; 
  &:hover {
    background-color: $blue_fonc; }
  &.fancy {
  background-image: linear-gradient(to bottom, white, blue);
  }

  }

  
  &.btn-yellow {
    color: yellow;
    background-color: #EFF70A; 
    color : black;
  &:hover {
      background-color: $yellow_fonc; }
  &.fancy {
  background-image: linear-gradient(to bottom, white, yellow);
  }

}

  &.btn-elg {
    width: 100%;
    font-size: 25px; }
  &.btn-lg {
    font-size: 20px;
    padding: 10px 20px 10px 20px; }
  &.btn-sm {
    font-size: 15px;
    padding: 2px 7px 2px 7px; }
  &.flat {
    border: none;
    box-shadow: none;
    border-radius: 0px; }

  }