.jumbotron {
  margin-left: auto;
  margin-right: auto;
  background-color: $col_grisClair;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 10px;
  width: 90%;
  margin-top: 20px;
  & h1 h2 h3 h4 h5 h6 {
    display: inline-block;
  }
  & p {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
  }
}


.header {
  margin: 5px;
  padding-top : 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #E8E8E8;
  box-shadow: 0px 3px 3px 0px #656565;
  padding-left: 5%;
  border-radius: 10px;
  & > h1 {
    display: inline-block;
    text-align: left;
  }
  & >.sub {
    margin-left: 10px;
  }
}



.alert {
  width: 100%;
  text-align: center;
  padding-top : 10px;
  padding-bottom : 10px;
  background-color: lightgrey;

  &.alert-danger {
    background-color: $alt_col;
  }
  &.alert-info {
    background-color: $alt_succ;
  }
  &.alert-succes {
    background-color: $alt_info;
  }

}
