@mixin calculLargeurSpan() {
    @for $i from 1 through $nb-col {
        .span-#{$i} {
            width: $i / $nb-col * 100 - 4%;
            display: inline-block;
            padding-left: $gut;
            padding-right: $gut;
            margin-right: -6px;
            vertical-align : top;
            // input ect
            & * {
                width: 95%;
            }
        }
    }
}

@mixin calculLargeurOffset() {
    @for $i from 1 through ($nb-col - 1) {
        .offset-#{$i} {
            margin-left: $i / $nb-col * 100%;
            display: inline-block;
            margin-right: -6px;
        }
    }
}

@include calculLargeurSpan();
@include calculLargeurOffset();

.container {
    width: 100%;
    display : block;
    margin : 15px auto;

}

.row {
    display : block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    
    & p {
        overflow: hidden;
        min-width: 6em;
    }

}