

.span-1{
	width :10.5%;
}

.span-2{
	width: 23%;	
}

.span-3{
	width: 35.5%;
}

.span-4{
	width: 48%;
}

.span-5{
	width: 60.5%;	
}

.span-6{
	width: 73%;
}

.span-7{
	width: 85.5%;
}
.span-8 {
	width: 98%;
}


.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7 {
	padding-right: 1%;
	padding-left: 1%;
}

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .offset-1, 
.offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7,.offset-8{
	display: inline-block;
	margin-right: -6px;
	vertical-align: top;
}

.offset-1{
	margin-left: 12.5%
}
.offset-2{
	margin-left: 25%;
}
.offset-3{
	margin-left: 37.5%;
}
.offset-4{
	margin-left: 50%;
}
.offset-5{
	margin-left: 62.5%;
}
.offset-6{
	margin-left: 75%;
}
.offset-7{
	margin-left: 87.5%;
}


