ul {
  display : inline-block;
  list-style-type: disc;
  margin: 1em 1em 1em 1.2em; 

&.square {  list-style-type: square; }

&.none {  list-style-type: none; }

&.pagination {
  border: 1px solid grey;
  color: blue;
  list-style: none;
  border-radius: 5px;
  & li {
    background-color: lightgrey;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border-radius: 7px;

    &:hover{
      background-color: grey;
    }
    &.disabled {
      text-decoration: line-through;
      cursor: not-allowed;
      & a {
        cursor: not-allowed;
      }
    }
    &.active {
      background-color: grey;
      color: white;
      & a {
        color : white;
      }
    }
    & a {
      text-decoration: none;
    }

  }

}

&.breadcrumb {
  padding-left: 10px;
  margin: 0;
  display: block;
  color:#596CF7;
  list-style-type: none;
  border-top: 1px solid black;
  margin-top: 20px;

  & li {
    padding-top: 5px;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 10px;
    & a {
      text-decoration: none;
      color:#596CF7;
    }
    &:nth-child(n+2):before {content: ">";}
  }
}

/* ma navbar normale*/
&.navbar {
  list-style: none;
  margin: 0; 
  background: deepskyblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  & li.active {
    background-color: #72D6F7;
    & a:hover {
      background-color : lightblue;
      color : black;
    }
  }

  & li.disabled {
    background-color:#BDBDBD ;
    text-decoration: line-through;
    & a:hover {
      background-color:#BDBDBD ;
      cursor: not-allowed;
    }
  }
  & a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    border-left: 1px solid white;
    font-size: 1.2em;

    &:hover {
      font-size: 1.23em;
      background: darken(deepskyblue, 20%);
  }

}
}

@media all and (max-width: 850px) {
  &.navbar {
    justify-content: space-around; //prendre tout l'espace
    & a { border : none;}
  }
}

@media all and (max-width: 600px) {
  &.navbar {
    flex-flow: column wrap;
    padding: 0;
    & a {  
      text-align: center; 
      padding: 10px;
      border-top: 1px solid white; 
      border-bottom: 1px solid white; 
    }
  }
}
}
