$opac_active : 0.8;
$ombre : 3px 3px 3px black;
$col_sub : #454545;
$col_grisClair : #DBDBDB;


/* Variable buttons */
$red_fonc : #E30202;
$blue_fonc : #278ACC;
$yellow_fonc : #A9B804;

/* variable alerts */

$alt_col : #FA5F71;
$alt_succ :#F2FA5F;
$alt_info : #5FFA62;

/* grille */
$pad: 1%;
$gut : 2%;
$nb-col : 8;
$col-with : 15%;

